@(roomId:Long)(implicit loginForm:Form[LoginData], request: play.api.mvc.Request[play.api.mvc.AnyContent]) 

@layouts.default("Chat ::: Infinite Wall") {

	<textarea id="talk"></textarea><button id="sendBtn" class="btn">Talk</button>
	<div id="log">
	</div>
<div id="list_box" style="position: absolute; right: 100px; top: 100px;">
User List
  <ul id="user_list" style="width: 200px;height: 600px;">
  </ul>
</div>
	
	<script type="text/javascript">

	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	var chatSocket = new WS("@routes.Chat.establish(roomId, 999).webSocketURL()")

	function onReceive(e) {
		var data = JSON.parse(e.data);
console.log(data);
		if(data.error) {
			console.log('disconnected: ' + data.error)
			chatSocket.close();
			return;
		}

		$("#log").prepend("<p>" + "<span>" + data.username + "</span>" + "<span> " + data.message + "</span>" + "</p>")
	
		//update user list
		$('#user_list').html('');
		$(data.users).each(function() {
			$('#user_list').append('<li>'+this+'</li>');
		});
	}

	function onError(e) {
		console.log(e);
	}

	chatSocket.onmessage = onReceive
	chatSocket.onerror = onError
	chatSocket.onclose = onError

	$(function() {
		$('#talk').keyup(function(event) {
			
			if(event.keyCode == 13)
			{
				$('#sendBtn').click()
			}
		})
		
		$('#sendBtn').click(function() {
			var msg = $('#talk').val()
			
			if(msg.charAt(msg.length-1) == '\n')
				msg = msg.substr(0,msg.length-1)
				
			
			if(msg.length == 0 || /^(\s)+$/.test(msg))  {
				$('#talk').val("")
				return
			}
				
			chatSocket.send(JSON.stringify({text: msg}))
			$('#talk').val("")
		})
		
	})
	
	</script>

}
