@(title: String)(head: Html)(content: Html)(implicit request:play.api.mvc.Request[play.api.mvc.AnyContent])

@mainWithHead(title) { @head } {
	@if(securesocial.core.SecureSocial.currentUser.isDefined) {
  <!--	<div class="pull-right well-small">Logged in as @securesocial.core.SecureSocial.currentUser.get.email | <a href="@securesocial.controllers.routes.LoginPage.logout">Logout</a></div> -->
	} else {
		<ul class="nav">
			<button type="submit" class="btn-small">Sign in</button>
		</ul>
	}
} { @content } 
