@(title: String)(content: Html)(implicit request: RequestHeader)

<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/wall.ico")">
  <script type="text/javascript" data-main="config" src="@routes.Assets.at("javascripts/require.js")"></script>
  <meta name="viewport" content="user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  @content
</head>
