@(title: String)(head: Html)(header: Html)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/wall.ico")">
    <script type="text/javascript" data-main="@routes.Assets.at("javascripts/config.js")" src="@routes.Assets.at("javascripts/require.js")"></script>
    <meta name="viewport" content="user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    @head
  </head>
  <body>
    @header
    <div class="main container">
      @request.flash.get("error").map { errorMessage =>   
        <div class="alert-message error">
          <p>
          <strong> @errorMessage </strong>
          </p>
        </div>
      }
      @content
    </div>
  </body>
</html>
