@(title: String)(content: Html)(implicit request: RequestHeader, lang: Lang)

@import securesocial.core.SecureSocial._

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta content='width=device-width, initial-scale=1.0' name='viewport'>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta content='Infinite Wall' property='og:title'>
		<meta content='website' property='og:type'>
		<meta content='http://wall.wafflestudio.com' property='og:url'>
		<meta content='http://wall.wafflestudio.com/logo.png' property='og:image'>
		<meta content='Infinite Wall' property='og:description'>
		<meta name="keywords" content="app,notetaking,collaboration,organizer" />
		<meta name="description" content="Lets you to organize notes and ideas in a whole new way" />
		<meta name="publisher" content="Wafflestudio" />
		<meta name="author" content="Won-wook Hong, Jaeho Jeon, Taekmin Kim, Joosik Yoon" />
		<title>@title</title>

		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/wall.ico")">
    <script type="text/javascript" src="@routes.ApplicationController.jsMessages()"></script> 
		@Html(org.webjars.play.RequireJS.setup("javascripts/config"))
		<script type = "text/javascript">
			require(["config"], function() {
				require(["wallApp", "bootstrap"], function() {
				})
			})
		</script>
	</head>
	<body>
		<!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="@routes.ApplicationController.index" id="logoImage"><img src="@routes.Assets.at("images/logo.png")"></a> -->
					<a class="navbar-brand" href="@routes.ApplicationController.index" id="logoImage">@Messages("application.name")</a>
				</div>
				<div class="navbar-collapse collapse" ng-controller="MenuCtrl">
					<ul class="nav navbar-nav">
						<li ng-class="{active: isActive('@routes.ApplicationController.about')}"><a href="@routes.ApplicationController.about">@Messages("navigation.about")</a></li>
						@if(currentUser.isDefined) {
						<li ng-class="{active: isActive('@routes.WallController.index')}"><a href="@routes.WallController.index">@Messages("navigation.walls")</a></li>
						<li ng-class="{active: isActive('@routes.GroupController.index')}"><a href="@routes.GroupController.index">@Messages("navigation.groups")</a></li>
						}
						<li ng-class="{active: isActive('@routes.ApplicationController.contact')}"><a href="@routes.ApplicationController.contact">@Messages("navigation.contact")</a></li>
						<li ng-class="{active: isActive('@routes.ApplicationController.contribute')}"><a href="@routes.ApplicationController.contribute">@Messages("navigation.contribute")</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						@if(currentUser.isDefined) {
						<li></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("navigation.current_user") <b>@currentUser.get.email.getOrElse(Messages("user.guest"))</b> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
							<a href="@routes.AccountController.index">
								<span class="glyphicon glyphicon-user"></span>
								@Messages("navigation.account")
							</a>
							</li>
							<li class="divider"></li>
							<li>
							<a href="@securesocial.controllers.routes.LoginPage.logout">
								<span class="glyphicon glyphicon-cog"></span>
								@Messages("navigation.logout")
							</a>
							</li>
						</ul>
						</li>
						} else {

						<li ng-class="{active: isActive('@securesocial.controllers.routes.LoginPage.login')}"><a href="@securesocial.controllers.routes.Registration.startSignUp">@Messages("navigation.signup")</a></li>
						<li ng-class="{active: isActive('@securesocial.controllers.routes.LoginPage.login')}"><a href="@securesocial.controllers.routes.LoginPage.login">@Messages("navigation.login")</a></li>
						}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<div class="container">

			<div class="row">
				@request.flash.get("msg").map { message =>
				<div class="alert-success">
					<p>
					<strong> @message </strong>
					</p>
				</div>
				}
				@request.flash.get("error").map { errorMessage =>   
				<div class="alert-error">
					<p>
					<strong> @errorMessage </strong>
					</p>
				</div>
				}
			</div>
			@content
			@layouts.footer()
		</div> <!-- /container -->
	</body>
</html>
