@(title: String)(content: Html)(implicit request: RequestHeader)

@defaultWithHead(title) {
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/stage.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/statusbar.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/menu.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/search.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/sheet.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/minimap.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/wall/chat.css")"/>
<link type="text/css" rel="stylesheet" href="@routes.Assets.at("stylesheets/folder.css")"/>

} { @content }
