@()(implicit request: RequestHeader, lang: Lang)

@layouts.main("Wall Project") {
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">About</div>
			<div class="panel-body">
				<h1>Develop your ideas</h1>
				<p>Develop your ideas on an infinite whiteboard. </p>
				<p>Attach images and files. </p>
				<p>Link in and out of the infinite wall. </p>
				<p>Connect everything. </p>

				<h1>Ultimate Organizer</h1>

				<p>Organize the walls at your control. </p>
				<p>Connect and name walls. </p>
				<p>Search your content at ease. </p>


				<h1>Collaborate</h1>

				<p>Share your work with your friends and groups.</p>
				<p>Make contents simulultanously with others.</p>
				<p>Chat real-time. </p>
			</div>
		</div>
	</div>
</div>
}
