@()(implicit request: RequestHeader, lang: Lang)

@layouts.main(Messages("about.page_name") + " ::: Infinite Wall") {
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">About</div>
			<div class="panel-body">
					<div class="col-lg-4">
					<h3>Develop your ideas</h3>
					Develop your ideas on an infinite whiteboard. <br/>
					Attach images and files. <br/>
					Link in and out of the infinite wall. <br/>
					Connect everything. </p>
					</div>

					<div class="col-lg-4">
					<h3>Ultimate Organizer</h3>

					<p>Organize the walls at your control. <br/>
					Connect and name walls. <br/>
					Search your content at ease. </p>
					</div>

					<div class="col-lg-4">
					<h3>Collaborate</h3>

					<p>Share your work with your friends and groups<br/>
					Make contents simulultaneously with others.<br/>
					Chat real-time. </p>
					</div>
			</div>
		</div>
	</div>
</div>
}
