@(members: List[(String, String)], prevmembers: List[(String, String)])(implicit request: RequestHeader, lang: Lang)

@layouts.main("Wall Project") {
<div class="row contact">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				@Messages("contact.members")
			</div>
			<div class="panel-body">
				<div class="row">
					@members.map { member =>
					<div class="col-lg-4">
						<img class="img-circle" src="https://graph.facebook.com/@member._2/picture?width=140&height=140" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
						<h2>@member._1</h2>
						<p>Developer</p>
						<p><a class="btn btn-default" target="_blank" href="https://facebook.com/@member._2">View details »</a></p>
					</div>
					}
				</div>


			</div>
		</div>
	</div>
</div>


<div class="row contact">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				@Messages("contact.previousmembers")
			</div>
			<div class="panel-body">
				<div class="row">
					@prevmembers.map { member =>
					<div class="col-lg-4">
						<img class="img-circle" src="https://graph.facebook.com/@member._2/picture?width=140&height=140" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;">
						<h2>@member._1</h2>
						<p>Developer</p>
						<p><a class="btn btn-default" target="_blank" href="https://facebook.com/@member._2">View details »</a></p>
					</div>
					}
				</div>

			</div>
		</div>
	</div>
</div>

}
