@()(implicit request: RequestHeader, lang: Lang)

@layouts.main("Contributing to Infinite Wall") {
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">@Messages("contribute.title")</div>
			<div class="panel-body">
				<div class="col-lg-4">
				<h3>@Messages("contribute.header1")</h3>
				<p>@Messages("contribute.content1")</p>
				</div>
				<div class="col-lg-4">
				<h3>@Messages("contribute.header2")</h3>
				<p>@Messages("contribute.content2")</p>
				</div>
				<div class="col-lg-4">
				<h3>@Messages("contribute.header3")</h3>
				<p>@Messages("contribute.content3")</p>
				</div>

			</div>
		</div>
	</div>
</div>
}
