@()(implicit request: RequestHeader, lang: Lang)

@layouts.main("Infinite Wall") {

		<!-- Fork me on Github ribbon -->
		<a href="https://github.com/wafflestudio/wall"><img style="position: absolute; top: 50px; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>


<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>@Messages("content.banner")</h1>
	<h4>&nbsp;&nbsp;@Messages("content.banner_sub")</h4>
	<p>
	<a class="btn btn-lg btn-primary" href="/about">@Messages("content.button_more") &raquo;</a>
	</p>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Infinite Wall</div>
			<div class="panel-body">
				<p>Tool to help expand human mind.</p>
				<p>Note taking that truly scales.</p>
			</div>
		</div>
	</div>
</div>
}
