@()(implicit loginForm:Form[LoginData], request: play.api.mvc.Request[play.api.mvc.AnyContent]) 

@layouts.default("Infinite Wall") {

@if(request.session.get("current_user").isDefined)  {

	<textarea id="talk"></textarea><button id="sendBtn" class="btn">Talk</button>
	<div id="log">
	</div>
	
	<script type="text/javascript">
	
	var timestamp = 0;

	function retrieve(timestamp) {
		$.get("/chat/retrieve/"+timestamp, function(data) {
			console.log(data)
			if(data.length > 0)  {
				for(var i = 0; i < data.length ; i++)  {
					var talk = data[i]
					$("#log").prepend("<p>" + "<span>" + talk.by + "</span>" + "<span> " + talk.message + "</span>" + "</p>")
				}
				timestamp ++;
			}			
			retrieve(timestamp)
		})
	}

	$(function() {
		$('#talk').keyup(function(event) {
			
			if(event.keyCode == 13)
			{
				$('#sendBtn').click()
			}
		})
		
		$('#sendBtn').click(function() {
			var msg = $('#talk').val()
			
			if(msg.charAt(msg.length-1) == '\n')
				msg = msg.substr(0,msg.length-1)
				
			
			if(msg.length == 0 || /^(\s)+$/.test(msg))  {
				$('#talk').val("")
				return
			}
			
			
			$('#sendBtn').attr('disabled', true)
			$.post('/chat/send/'+ msg, function()  {
				$('#sendBtn').removeAttr('disabled')
				$('#talk').val("")
			})
			
		})
		
		retrieve(timestamp)
	})
	
	</script>
}
}