@(signupForm:Form[SignUpData])(implicit loginForm:Form[LoginData], request:play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import helpers.infiniteWall._

@layouts.default("Infinite Wall") {

	@helper.form(action = routes.Application.createNewUser, 'class -> "well form-horizontal") {
        
        <fieldset>
            <legend>New Account</legend>
    
            @inputText(
                signupForm("Email"), '_label -> "Email",
                '_help -> "e.g. johndoe@example.com",
                '_error -> signupForm.globalError,
                'placeholder -> "Email"
            )
            
            @inputPassword(
                signupForm("Password.main"), 
                 '_label -> "Password",
                '_help -> "Password must be at least 8 characters. ",
                'placeholder -> "Password"
            )
            
            @inputPassword(
                signupForm("Password.confirm"), 
                '_label -> "Confirm password",
                '_help -> "Please repeat your password.",
                '_error -> signupForm.error("Password"),
                'placeholder -> "Repeat password"
            )
            
        </fieldset>
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> Sign Up</button>
            <a href="@routes.Application.index" class="btn">Cancel</a>
          </div>
        
    }
	
		
	
}