#chatWindow {
	position:absolute;
	bottom:0px;
	right:0px;
	width:224px;
	height:240px;
	padding-bottom:30px;
	background-color:white;
	border:1px dotted gray;
  display: none;
}

#chatUsers {
  margin-top: -30px;
	height:30px;
	width:224px;
	background-color:#f0f0f0;
	font-family:futura;
  font-size:15px;
}

.chatProfilePic {
  height:28px;
  width:28px;
  border-radius: 2px;
  border: 1px solid gray;
  background-size:cover;
  background-position:center;
  float: left;
}

.chatNickname {
  display: none;

}

#chatLog {
	height:100%;
	overflow-y:auto;
}

#chatLog p {
	font-family:Helvetica;
}

.messageText {
	word-wrap:break-word;
}

.messageContainer {
  overflow: hidden;
  padding: 2px 4px 2px 4px;
}

.isNotMine > .messageProfilePicContainer {
  float:left;
}

.isMine > .messageProfilePicContainer {
  float:right;
}

.isNotMine > .messageRest {
  margin-left: 40px;
}

.isMine > .messageRest {
  margin-right: 40px;
}

.isMine > .messageRest > .messageText {
  float: right;
  max-width: 100%;
}

.infoContainer {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 1px 0px;
}

.infoMessage {
  color: white;
  text-align: center;
}

.infoWho {
  font-weight: bold;
}
.messageProfilePic {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
}

.messageNickname {
  display: none;
}

#chatInputContainer {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:28px;
	background-color:white;
	border-top:1px dotted gray;
}

#chatInput {
	position:absolute;
  margin-bottom: 0px;
	bottom:0px;
	left:0px;
	width:100%;
	height:100%;
  max-height: 90px;
  min-height: 28px;
	white-space:normal;
	resize:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  overflow: hidden;
}
