#chatWindow {
	position:absolute;
	bottom:0px;
	right:0px;
	width:224px;
	height:100px;

	padding-top:80px;
	padding-bottom:30px;
	background-color:white;
	border:1px dotted gray;
}

#chat-userlist {
	position:relative;
	top:-80px;
	height:80px;
	width:224px;
	background-color:#f0f0f0;
	font-family:futura;
  font-size:15px;
}

#log {
	position:relative;
	top : -80px;
	height:100%;
	overflow-y:auto;
}

#log p {
	font-family:Helvetica;
}

.chatMessage {
	word-wrap:break-word;
}

#chatInputContainer {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:28px;
	background-color:white;
	border-top:1px dotted gray;
}

#talk {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	white-space:normal;
	resize:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
