.hoverStrip {
  position: absolute;
}

.hoverLR {
  height:100%;
  width:70px;
}

.hoverTB {
  width:100%;
  height:70px;
}

#hoverLeft {
  left:70px;
}

#hoverRight {
  right:0px;
}

#hoverTop {
  top: 0px;
}

#hoverBottom {
  bottom: 0px;
}
