#menuWrapper {
  position:absolute;
  top:0px;
  left:0px;
  overflow: hidden;
  width:70px;
  height:100%;
}

#menuBar {
  height:100%;
  width:100px;
  background-color: #292C35;
  overflow:auto;
}

.placeholderButton {
  /*background-color: white;*/
  height: 0px;
  width: 65px;
  margin: 2px;
  border-bottom: 1px solid gray;
  position:relative;
  background-position: center;
  background-repeat: no-repeat;
}

.menuButton {
  /*background-color: white;*/
  height: 65px;
  width: 65px;
  margin: 2px;
  border-top: 1px solid gray;
  /*border-bottom: 1px solid gray;*/
  position:relative;
  background-position: center;
  background-repeat: no-repeat;
  /* glyphicon */
  font-size:48px;
  text-align:center;
  color:white;
}

#profileButton {
  height: 82px;
  border-top: none;
}

#profilePic {
  background-size: cover;
  height: 65px;
  width: 65px;
  background-position: center;
  border-radius: 3px;
}

#nickname {
  border-top: 1px solid gray;
  color: white;
  height:16px;
  width:100%;
  position:absolute;
  bottom:0px;
  text-align:center;
  line-height:20px;
  font-size:13px;
  font-family: "futura";
}
/*
#logoutButton {
  background-image:url("/assets/images/logout.png");
  background-size:41px;
}

#newSheetButton {
  background-image:url("/assets/images/newsheet.png");
  background-size:50px;
}

#undoButton {
  background-image:url("/assets/images/undo.png");
  background-size:50px;
}

#redoButton {
  background-image:url("/assets/images/redo.png");
  background-size:50px;
}
*/
#newSheetContainer {
  display:none;
}
/*
#newTextSheetButton {
  margin-top: 0;
  background-image:url("/assets/images/textsheet.png");
  background-size:54px;
}

#newImageSheetButton {
  background-image:url("/assets/images/imagesheet.png");
  background-size:67px;
}

#newVideoSheetButton {
  margin-bottom: 0;
  background-image:url("/assets/images/videosheet.png");
  background-size:64px;
}


#deleteSheetButton {
  background-image:url("/assets/images/delete_white.png");
  background-size:51px;
}

#minimapButton {
  background-image:url("/assets/images/minimap.png");
  background-size:46px;
}

#chatButton {
  background-image:url("/assets/images/chat.png");
  background-size:57px;
}

#folderButton {
  background-image:url("/assets/images/wall.png");
  background-size:55px;
}
*/
