#minimap {
  position:absolute;
  width:224px;
  height:185px;
  right:0px;
  top:25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#minimapWorld {
	position:absolute;
  top:0px;
  left:0px;
}

#miniScreen {
	position:absolute;
  top:0px;
  left:0px;
	border:1px solid #aaa;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*box-sizing을 써야 border 굵기가 width에 추가되서 삐져나오는 일이 없음*/
}

.miniSheet {
	position:absolute;
  top:0px;
  left:0px;
  background-color:black;
	opacity:0.5;
}
