
.sheetBox {
	position:absolute;
	top:0px;
	left:0px;
  outline:none;
}

.sheet {
	box-shadow: 3px 3px 4px 2px #888;
}

.sheet[contentType='text']{
	background-color:white;
	padding:2px 11px 44px 11px;
}

.sheet[contentType='image']{
	background-color:none;
}

.sheet[contentType='text'] > .sheetTopBar {
	width:100%;
	height:25px;
	border-bottom:1px dotted gray;
}

.sheet[contentType='image'] > .sheetTopBar {
	width:100%;
	height:25px;
  position:absolute;
  background-color:black;
	opacity:0.5;
	color:white;
  display:none;
}

.sheet[contentType='image'] > .sheetTopBar > .sheetTitle {
  margin:-2px 9px;
}

.sheetTopBar > .sheetTitle {
  outline:none;
  height:100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sheetTopBar > h1 {
	font-family:avantgarde;
	font-size:17px;
	font-weight:normal;
  line-height:30px;
  margin: 0
}

.sheetText {
	padding-top:4px;
	width:100%;
	height:100%;
}

.sheetTextField {
	width:100%;
	height:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	border:none;
	resize:none;
	word-wrap:break-word;
  /*outline:none;*/
}

.sheetImage {
	background-size:100%;
	width:100%;
	height:100%;
}

.resizeHandle {
	position:absolute;
	bottom:0;
	right:0;
	width:20px;
	height:20px;
	/*background-color:black;*/
	border-radius:10px;
	opacity:0.5;
	cursor:se-resize;
}

