body { 


  background-color:#F7F7F7;

}
.wallTitle {
  margin-top:5px;
  text-align:center;
  font-family:Comic Sans, Comic Sans MS, cursive;
  text-shadow:
    -1px -1px 0 #eee,
    1px -1px 0 #eee,
    -1px 1px 0 #eee,
    1px 1px 0 #eee;  
}

.navigator {
  position:absolute;
  top:0px;
  left:0px;
  width:300px;
  bottom:0px;
  background-color:#EFEFEA;
  border-right:2px solid #9A9A9A;
}

.otherwall1 {
-webkit-transform:rotate(-1.5deg);
       -moz-transform:rotate(-1.5deg);
        -ms-transform:rotate(-1.5deg);
         -o-transform:rotate(-1.5deg);
            transform:rotate(-1.5deg);
}

.otherwall2 {
-webkit-transform:rotate(-0.75deg);
       -moz-transform:rotate(-0.75deg);
        -ms-transform:rotate(-0.75deg);
         -o-transform:rotate(-0.75deg);
            transform:rotate(-0.75deg);
}

.innershade {
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
}

.wallContainer {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:auto !important; 
  /*margin:10px 10px 10px 320px;*/

  background-color:#EFEFEF;
  border-top:1px solid #9AA2A2;

  border-left:1px solid #92A2A2;
  overflow:hidden;
    
}

.wallContainer:before,
.wallContainer:after {
    content:"";
    position:absolute;
    z-index:-2;
}
  
@font-face {
  font-family: 'avantgarde';
  src: url('/assets/fonts/avantgarde.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('/assets/fonts/futura.otf');
  font-weight: normal;
  font-style:normal;
}

#fileupload {
  display: none;
}

#zoomBar {
  display: none;
}

#wallmanagement {
	margin:7px;
	display:none;  
}

#rightPart {
	position:absolute;
	top:0px;
	right:0px;
  width:224px;
}

#infoText {
  background-color:rgba(0, 0, 0, 0.7);
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:23px;
}

#infoText p{
  color:white;
  font-size:17px;
	font-family:avantgarde;
  opacity:0.9;
}

#zoomText{
  position:absolute;
  bottom:0px;
  right:0px;
  line-height:3px;
  padding-right:4px;
  text-align:right;
}

#currentWallName {
	line-height:25px;
	padding-left:5px;
}

#wall {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
  background-image:url('/assets/images/tile.jpg');
}

#scaleLayer {
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
}

#moveLayer {
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
}

#removeLayer {
  position:absolute;
  left:70px;
  bottom:0px;
  width:80px;
  height:80px;
  background-color: black;
  border-top-right-radius: 80px;
  opacity: 0.3;
}

.activatedRemove {
  background-color: red !important;
  opacity: 1;
}

.linkLine {
  position: absolute;
  top:0;
  left:0;
  width: 1px;
  height: 1px;
}
