@(groups:List[models.Group.Frozen])(implicit request: RequestHeader)

@layouts.main("Walls ::: Infinite Wall") {
<div class="row contact">
	<div class="col-lg-12">
	<div class="well">
		<form method="POST" action="@routes.Group.create" class="form-inline">
			<div class="input-group">
				<input name="name" class="form-control" type="text" placeholder="Group name">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Create</button>
				</span>
			</div><!-- /input-group -->
		</form>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Groups</div>
			<div class="panel-body">
				<div class="list-group">
					@groups.map { group =>
					<a class="list-group-item" href="/group/@group.id">@group.name</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
