@(ownedGroups:List[models.Group.Frozen], includedGroups:List[models.Group.Frozen])(implicit request: RequestHeader, lang: Lang)

@layouts.main(Messages("group.page_name") + " ::: Infinite Wall") {
<div class="row contact">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">@Messages("group.create")</div>

			<div class="well">
			<form method="POST" action="@routes.GroupController.create" class="form-inline">
				<div class="input-group">
					<input name="name" class="form-control" type="text" placeholder="@Messages("group.name")">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">@Messages("group.button_create")</button>
					</span>
				</div><!-- /input-group -->
			</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">@Messages("group.groups")</div>
			<div class="panel-body">
				<div class="list-group">
					@ownedGroups.map { group =>
					<a class="list-group-item" href="/group/@group.id">@group.name</a>
					}

					@includedGroups.map { group =>
					<a class="list-group-item" href="/group/@group.id">@group.name</a>
					}

				</div>
			</div>
		</div>
	</div>
</div>
}
