@(users:List[User], groupId:Long)(implicit loginForm:Form[LoginData], request: play.api.mvc.Request[play.api.mvc.AnyContent]) 

@layouts.default("Walls ::: Infinite Wall") {

	@if(users.length == 0)  {
		<p> No User </p>
	}
	<form method="POST" action="@{routes.Group.addUser(groupId)}" class="form-inline">
		<input name="email" type="text" placeholder="User email"><button class="btn">Add</button/>
	</form>
	<ul>
	@for(user <- users) {
		<li>@user.email<a href="@{routes.Group.removeUser(groupId, user.id.get)}">remove</a></li>
	}
	</ul>

}
