@(users:List[User.Frozen], walls:List[models.Wall.Frozen], nonSharedWalls:List[models.Wall.Frozen], groupId:String)(implicit request: RequestHeader)

@layouts.default("Walls ::: Infinite Wall") {

	<h3>User List</h3>
	<form method="POST" action="@{routes.Group.addUser(groupId)}" class="form-inline">
		<input name="email" type="text" placeholder="User email"> <button class="btn">Add</button/>
	</form>
	@if(users.length == 0)  {
		<p> No User </p>
	}
	<ul>
	@for(user <- users) {
		<li>@user.email <a href="@{routes.Group.removeUser(groupId, user.id)}">remove</a></li>
	}
	</ul>

	<h3>Wall List</h3>
	<form method="POST" action="@{routes.Group.createWall(groupId)}" class="form-inline">
		<input name="title" type="text" placeholder="Wall name"> <button class="btn">Create</button/>
	</form>
	<form method="POST" action="@{routes.Group.addWallPost(groupId)}" class="form-inline">
		<input name="wall_id" type="text" placeholder="Wall ID"> <button class="btn">Add</button/>
	</form>
	<h5>My Walls</h5>
	@if(nonSharedWalls.length == 0)  {
		<p> No Wall </p>
	}
	<ul>
	@for(wall <- nonSharedWalls) {
		<li>@wall.name <a href="@{routes.Group.addWall(groupId, wall.id)}">add to Group</a></li>
	}
	</ul>
	<h5>Group's Walls</h5>
	@if(walls.length == 0)  {
		<p> No Wall </p>
	}
	<ul>
	@for(wall <- walls) {
		<li>@wall.name <a href="@{routes.Group.removeWall(groupId, wall.id)}">remove</a></li>
	}
	</ul>
}
