

.folder .folder-items{
	margin-left:10px;
}

.selected {
	background-color:#cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	/*background-color:#efefef;*/
}

.hover {
  background-color:#dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background-color:#efefef;*/
}

.drophover {
  background-color:#dddd00;
}

.folder-item
{

}

.node-delete-btn
{
  display:block;
  position:relative;
  right:0px;
}

.node-delete-btn i {
  position:absolute;
  right:2px;
  top:-16px;

}

.folder-bottombar
{
  border-top:1px solid #cccccc;
  position:relative;
  bottom:0;
  margin:5px;
  width:100%;
  height:34px;
}