
/* korean font tweak */
@font-face {
	font-family:'Nanum Myeongjo','Unbatang', 'batang',serif;
	unicode-range:U+AC00–D7AF;
}

.jumbotron h4 {
	font-family:'Nanum Myeongjo', 'Unbatang', 'batang', serif
}
.jumbotron h1 {
	font-family:'Nanum Myeongjo', 'Unbatang', 'batang', serif
}


body {
  padding-top: 70px;
  background-color: #292C35
}

form .actions {
	text-align:center
}

#logoMenu {
  width: 300px;
  margin-left:5px;
  margin-top:38px;
  position:absolute;
  background-color:white;
  border:1px solid #aaaaaa;
  -webkit-border-radius: 0 0px 5px 5px;
  -moz-border-radius: 0 0px 5px 5px;
  border-radius: 0 0px 5px 5px;
}

.contact .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}

footer {
	color:gray;
}
