body {
  min-height: 2000px;
  padding-top: 70px;
}

form .actions {
	text-align:center
}

#logoMenu {
  width: 300px;
  margin-left:5px;
  margin-top:38px;
  position:absolute;
  background-color:white;
  border:1px solid #aaaaaa;
  -webkit-border-radius: 0 0px 5px 5px;
  -moz-border-radius: 0 0px 5px 5px;
  border-radius: 0 0px 5px 5px;
}

.contact .col-lg-4 {
	text-align: center;
	margin-bottom: 20px;
}
