@font-face {
  font-family: 'avantgarde';
  src: url('/assets/fonts/avantgarde.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('/assets/fonts/futura.otf');
  font-weight: normal;
  font-style:normal;
}

#wallmanagement {
	margin:7px;
	display:none;  
}


#rightBar {
	position:absolute;
	top:0px;
	right:0px;
	width:226px;
	height:100%;
	overflow:hidden;
}

#miniMap {
	position:absolute;
	top:75px;
	right:0px;
	width:224px;
	height:185px;
	background-color:white;
	border:1px dotted gray;
}

#minimapWorld {
	position:absolute;
	/*border:1px solid gray;*/
}

#minimapCurrentScreen {
	position:absolute;
	border:1px solid #aaa;
}

.minimapElement {
	position:absolute;
  background-color:black;
	opacity:0.5;
}

#chatWindow {
	position:absolute;
	bottom:0px;
	right:0px;
	width:224px;
	height:1px;

	padding-top:80px;
	padding-bottom:30px;
	background-color:white;
	border:1px dotted gray;
}

#chat-userlist {
	position:relative;
	top:-80px;
	height:80px;
	width:224px;
	background-color:#f0f0f0;
	font-family:futura;
  font-size:15px;
}

#log {
	position:relative;
	top : -80px;
	height:100%;
	overflow-y:auto;
}

#log p {
	font-family:Helvetica;
}

.chatMessage {
	word-wrap:break-word;
}

#chatInputContainer {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:28px;
	background-color:white;
	border-top:1px dotted gray;
}

#talk {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	white-space:normal;
	resize:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#toolBar {
	position:absolute;
	top:37px;
	width:100%;
	height:35px;
	background-color:white;
	border-bottom:1px dotted gray;
  border-left:1px dotted gray;
}

#zoomIcon{
	float:left;
	padding:10px 0px 10px 27px;
}

#zoomLevelText {
	float:left;
	width:55px;
	margin-top:10px;
	font-family:avantgarde;
	font-size:21px;
	text-align:center;
  color:black;
}

.createBtn {
	float:left;
	margin-top:7px;
	margin-left:10px;
}

#rightToolBar {
	float:right;
	top:-1px;
	width:225px;
	height:100%;
	border-left:1px dotted gray;
}

#minimapBtn {
	float:left;
	margin-top:9px;
	margin-left:10px;
}

#folderBtn {
  float:left;
  margin-top:7px;
  margin-left:7px;
}

#wall {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
	background-image:url('/assets/images/tile.png');
}

#menuBar {
	position:absolute;
	right:0px;
	width:10%;
}

.menuItem {
	height:50px;
	background-color:gray;
	color:white;
}

.menuItem p {
	font-size:20px;
	text-align:center;
}

#scaleLayer {
	position:absolute;
	top:40px;
	left:0;
	width:1px;
	height:1px;
}

#moveLayer {
	position:absolute;
	top:0;
	left:0;
	width:1px;
	height:1px;
}

.sheetBox {
	position:absolute;
	top:0px;
	left:0px;
  outline:none;
}

.sheet {
	box-shadow: 3px 3px 4px 2px #888;
}

.sheet[contentType='text']{
	background-color:white;
	padding:2px 11px 44px 11px;
}

.sheet[contentType='image']{
	background-color:none;
}

.sheet[contentType='text'] > .sheetTopBar {
	width:100%;
	height:25px;
	border-bottom:1px dotted gray;
}

.sheet[contentType='image'] > .sheetTopBar {
	width:100%;
	height:30px;
  position:absolute;
  background-color:black;
	opacity:0.5;
	color:white;
  display:none;
}

.sheet[contentType='image'] > .sheetTopBar > .sheetTitle {
  margin:-2px 10px;
}

.sheet > .sheetTopBar > .sheetTitle {
  outline:none;
  height:100%;
}

.boxClose {
  float:right;
	cursor:pointer;
	display:none;
	font-size:26px;
}

.sheet[contentType='text'] .boxClose {
  color:black;
  opacity:0.7;
  margin-top:2px;
}

.sheet[contentType='image'] .boxClose {
  color:white;
  opacity:1;
  margin-top:3px;
  margin-right:6px;
}

.sheetTopBar > h1 {
	font-family:avantgarde;
	font-size:17px;
	font-weight:normal;
  line-height:29px;
}

.sheetText {
	padding-top:6px;
	width:100%;
	height:100%;
}

.sheetTextField {
	width:100%;
	height:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	border:none;
	resize:none;
	word-wrap:break-word;
  /*outline:none;*/
}

.sheetImage {
	background-size:100%;
	width:100%;
	height:100%;
}

.resizeHandle {
	position:absolute;
	bottom:0;
	right:0;
	width:20px;
	height:20px;
	/*background-color:black;*/
	border-radius:10px;
	opacity:0.5;
	cursor:se-resize;
}

.linkLine {
  position: absolute;
  height:4px;
  background-color:black;
}


#currentWallName {
	float:left;
	margin-left:-10px;
	padding-top:4px;
	line-height:38px;
	font-family:avantgarde;
	font-size:20px;
}

#currentWallNameText {
	margin-left:1px;
}

