@()(implicit request: RequestHeader, lang: Lang)

@layouts.main(Messages("wall.page_name") + " ::: Infinite Wall") {
<div class="row contact" ng-controller="Walls" ng-init="init()">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">@Messages("wall.create")</div>
			<div class="well">
				<form class="form-inline" ng-submit="createWall()">
				<div class="input-group">
					<input name="title" class="form-control" type="text" placeholder="Wall title" ng-model="newWall.title">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">@Messages("wall.button_create")</button>
					</span>
				</div><!-- /input-group -->
				</form>

			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">@Messages("wall.walls")</div>
			<div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(id, name) in nonSharedWalls" ng-cloak><a href="/wall/{{id}}">{{name}}</a><a href="javascript:void(0)" ng-click="deleteWall(id)" class="pull-right">@Messages("wall.delete")</a> </li>
        </ul>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">@Messages("wall.sharedwalls")</div>
			<div class="panel-body">
          <div ng-repeat="(id, group) in groupedWalls" ng-cloak>
             <h5>{{group.name}}</h5>
             <ul class="list-group"> 
                 <li ng-repeat="wall in group.walls" class="list-group-item"><a href="/wall/{{wall.id}}">{{wall.name}}</a>&nbsp;</li>
             </ul>
          </div>
			</div>
		</div>
	</div>
</div>
}
