@(nonSharedWalls:List[models.Wall.Frozen], sharedWalls:List[models.Wall.Frozen])(implicit request: RequestHeader)

@layouts.default("Walls ::: Infinite Wall") {

	<h3>Non Shared Walls</h3>
	<form method="POST" action="@{routes.Wall.create}" class="form-inline">
		<input name="title" type="text" placeholder="Wall name"><button class="btn">Create</button/>
	</form>
	@if(nonSharedWalls.length == 0)  {
		<p> No non shared walls available </p>
	}
	<ul>
	@for(wall <- nonSharedWalls) {
		<li><a href="/wall/@wall.id">@wall.name</a></li>
	}
	</ul>

	<h3>Shared Walls</h3>
	@if(sharedWalls.length == 0)  {
		<p> No shared walls available </p>
	}
	<ul>
		@for(wall <- sharedWalls) {
		<li><a href="/wall/@wall.id">@wall.name</a></li>
		}
	</ul>
}
