@(nonSharedWalls:List[models.Wall.Frozen], sharedWalls:List[models.Wall.Frozen])(implicit request: RequestHeader, lang: Lang)

@layouts.main("Walls ::: Infinite Wall") {
<div class="row contact">
	<div class="col-lg-12">
	<div class="well">
		<form method="POST" action="@{routes.Wall.create}" class="form-inline">
			<div class="input-group">
				<input name="title" class="form-control" type="text" placeholder="Wall name">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">Create</button>
				</span>
			</div><!-- /input-group -->
		</form>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Non Shared Walls</div>
			<div class="panel-body">
				<div class="list-group">
					@nonSharedWalls.map { wall =>
					<a class="list-group-item" href="/wall/@wall.id">@wall.name</a>
					}
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">Shared Walls</div>
			<div class="panel-body">
				<div class="list-group">
					@sharedWalls.map { wall =>
					<a class="list-group-item" href="/wall/@wall.id">@wall.name</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>
}
