@(wallId:String, wallName:String, pref:WallPreference.Frozen, sheets:List[Sheet.Frozen], sheetlinks:List[SheetLink.Frozen],timestamp:Long, chatId:String)(implicit request: RequestHeader)

@import securesocial.core.SecureSocial._

@layouts.stage(wallName + " ::: Infinite Wall") {
<div ng-controller="Stage" ng-init="init('@wallId')">
  <div class="navigator">
    <div id = "wallmanagement">
      <div id = "tree">
      </div>
    </div>
  </div>

  <!--<div class="wallContainer innershade otherwall1"></div>-->
  <!--<div class="wallContainer innershade otherwall2"></div>-->
  <div class="wallContainer innershade currentwall">

    <!--<div id = "topMenuBar">-->
      <!--asdfasdfasdfasdfasdfkjahsdfkjhasdjklfjaklsdjfklasjdklfaksldjfklasjdflkjaskldfjlkasdjflkasjdflkajsdlkfjaslkdfjlkasjdflkajsdlfkjaslkdfjalksdjfklajsdlfkjasdfkljalskdfjalksdf-->

    <!--</div>-->

    <input id="fileupload" type="file" name="files[]" data-url="/wall/file/@wallId" multiple>

    <div id = "zoomBar"></div>
    <div id = "wall">
      <div id = "scaleLayer">
        <div id = "moveLayer">
          <div id = "linkLayer"></div>
          <div id = "sheetLayer"></div>
        </div>
      </div>
      <div id = "dockLayer"></div>
      <div contenteditable = true id = "wallPasteArea"></div>
    </div>

    <div id = "menuWrapper">
      <div id = "menuBar">
        <a href = "/me">
          <div id = "profileButton" class = "menuButton">
            <div id = "profilePic" style="background-image:url(@routes.FileController.serveUserProfilePicture(currentUser.get.identityId.userId))"></div>
            <div id = "nickname">@currentUser.get.fullName</div>
          </div>
        </a>
	<!--<a href = "/logout"> <div id = "logoutButton" class = "menuButton"><span class="fa fa-sign-out"></span> </div> </a>-->
        <div id = "newSheetButton" class = "menuButton"><span class="fa fa-file-o"></span></div>
        <div id = "newSheetContainer">
          <div id = "newTextSheetButton" class = "menuButton newSheetButtons" rel = "text"><span class="fa fa-file-text-o"></span> </div>
          <div id = "newImageSheetButton" class = "menuButton newSheetButtons" rel = "image"><span class="fa fa-file-image-o"></span> </div>
          <div id = "newVideoSheetButton" class = "menuButton newSheetButtons" rel = "video"><span class="fa fa-file-video-o"></span></div>
        </div>
        <div id = "deleteSheetButton" class = "menuButton"><span class="fa fa-trash-o"></span></div>
        <div id = "minimapButton" class = "menuButton"><span class="fa fa-tachometer"></span></div>
        <div id = "chatButton" class = "menuButton"><span class="fa fa-comment-o"></span></div>
        <div id = "folderButton" class = "menuButton"><span class="fa fa-sitemap"></span> </div>
        <!--<div id = "tellButton" class = "menuButton"></div>-->
        <div id = "undoButton" class = "menuButton"><span class="fa fa-undo"></span></div>
        <div id = "redoButton" class = "menuButton"><span class="fa fa-repeat"></span></div>
        <div class = "placeholderButton"></div>
      </div>
    </div>
    <div id = "searchWrapper">
        <div class="row">
            <div class="input-group">
              <input id="searchInput" type="text" class="form-control">
              <span class="input-group-btn">
                <button href="#" id="searchButton" class="btn btn-default" type="button">Search</button>
              </span>
            </div>
        </div>

      <div id = "searchResults">
      </div>
    </div>

    <div id = "statusBar">
    </div>

    <div id = "rightPart">
      <div id = "infoText">
        <p id = "currentWallName">@wallName</p>
        <p id = "zoomText">100%</p>
      </div>
      <div id = "minimap">
        <div id = "minimapWorld">
          <div id = "miniScreen"></div>
          <div id = "miniMoveLayer"></div>
        </div>
      </div>
    </div>

    <div id = "chatWindow">
      <div id = "chatUsers"> </div>
      <div id = "chatLog"> </div>
      <div id = "chatInputContainer">
        <textarea id = "chatInput"></textarea>
      </div>
    </div>


    <div id = "stickyMenuContainer">
      <div id = "stickyMenu"> 
        <div id = "removeSheetButton" class = "stickyMenuButton"></div>
        <div id = "editSheetButton" class = "stickyMenuButton"></div>
        <div id = "lockSheetButton" class = "stickyMenuButton"></div>
      </div>
    </div>

	<div id="alert-disconnect" class="alert alert-danger alert-dismissable" style="display:none">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Disconnected!</strong> You were disconnected. Please refresh the page to reconnect.
	</div>


  </div><!-- wallcontainer -->

  <div id="folder-modal-create" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <form ng-submit="createFolder()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create Folder</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="folderNameCreate">Name</label>
                <input type="text" class="form-control" id="folderNameCreate" placeholder="A suitable name for your folder" ng-model="newFolder.name">
            </form>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary modal-submit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <script type = "text/javascript">
  require(["config"], function() {
  require(["jquery", "stage", "tree.jquery", "bootstrap" ], function($, Stage) {

    $(function()
    {
        setInterval( function() {    
            $.get('/renew', function(data, textStatus, xhr) {
                if(xhr.status != 200)
                    $('#alert-disconnect').show()
            })
        }, 36000) // 3 minutes
    })

    $(function()
    {
      $('#logoImage').attr('href', 'javascript:')
      $('#wallmanagement').appendTo($("#logoMenu"))

      $('#logoImage').click(function() {
        $('#wallmanagement').toggle()
      })
    })

    // fullscreen stage mode <=> zoomed out mode 
    $(function() {
      var mode = 'full'
      $('#folderButton').click( function (e) {
        if(mode == 'zoomed') {
          mode = 'changing' 

          $(".currentwall").animate({margin:0}, 300, function() { mode = 'full'
            $('.wallContainer').each(function(idx, el) {
              $(el).removeClass('innershade')
            });
          })
        }
        else if(mode == 'full')
        {
          mode = 'changing' 
          $('.wallContainer').each(function(idx, el) {
            $(el).addClass('innershade')
          }); 
          // TODO: make it auto consistent with the css
          $(".currentwall").animate({marginTop:10, marginLeft:320, marginBottom:10, marginRight:10}, 300, 
            function() { 
              mode = 'zoomed'
            })
        }
      });
    })

    $(function() {
      // open sockets
      var wallURLs = { 
        websocket: "@routes.WallController.sync(wallId).webSocketURL()", 
        speak: "@routes.WallController.speak(wallId)", 
        listen: "@routes.WallController.listen(wallId)" }
      var chatURL = "@routes.ChatController.establish(chatId).webSocketURL()"

      // prepare stage
      window.stage = new Stage("@wallId", @timestamp, "@currentUser.get.email", wallURLs, chatURL)
      wall.loadPref(@pref.zoom, @pref.panX, @pref.panY)

      // place sheets and sheet links
      var sheetData = []
      var sheetlinkData = []

      @sheets.map { sheet => 
        sheetData.push(@Html(sheet.toJson()))
      }

      @sheetlinks.map { sheetlink => 
        sheetlinkData.push(@Html(sheetlink.toJson()))
      }

      for(var i = 0; i < sheetData.length; i++)  {	
        var sheet = sheetData[i]
        console.log(sheet)
        stage.createSheet(sheet.id, sheet, @timestamp)
      }

      for(var i = 0; i < sheetlinkData.length; i++)  {	
        var sheetlink = sheetlinkData[i]
        console.log(sheetlink)
        stage.createSheetLink(sheetlink, @timestamp)
      }


      // wall ready
      $(document).trigger("wallready")
    })

  }) // require

  })
  </script>
    
  }
