@(wallId:Long, pref:WallPreference, sheets:List[Sheet], timestamp:Long, chatId:Long)(implicit loginForm:Form[LoginData], request: play.api.mvc.Request[play.api.mvc.AnyContent]) 

@layouts.stage("Wall ::: Infinite Wall") {

<div id="wall">
	<div id="scaleLayer">
		<div id ="moveLayer">
		</div>
	</div>
</div>


<div id = "rightBar">
	
	<div id = "miniMap">
	</div>
	
	<div id = "chatWindow">

		<div id="chat-userlist">
			<ul id="users" class="unstyled">
			</ul>
		</div>

		<div id="log">
		</div>

		<div id = "chatInputContainer">
			<textarea id="talk"></textarea>
		</div>

	</div>

</div>

<div id="toolBar">

	<div id="zoomToolBar">
		<img id="zoomIcon" src="@routes.Assets.at("images/zoomIcon.png")"></img>
		<p id="zoomLevelText"></p>
	</div>

	<div id="middleToolBar">
		<img id="createBtn" src="@routes.Assets.at("images/createSheet.png")"></img>
	</div>

	<div id="rightToolBar">
		<img id="minimapBtn" src="@routes.Assets.at("images/minimap.png")"></img>
	</div>

</div>


<script type="text/javascript">

	// initialize wall socket/events
	var wallSocket = new WallSocket("@routes.Wall.sync(wallId, timestamp).webSocketURL()")
	wallSocket.on('receive', function(detail) {
		if(detail.action == "create")
			createSheet(detail.id, detail.params);
		else if(detail.action == "move")
			moveSheet(detail.params);
		else if(detail.action == "resize")
			resizeSheet(detail.params);
		else if(detail.action == "remove")
			removeSheet(detail.params);
		else if(detail.action == "setText")
			setText(detail.params);
		else if(detail.action == "setTitle")
			setTitle(detail.params);
	})

	// initialize chat socket
	var chatSocket = new ChatSocket("@routes.Chat.establish(chatId, 999).webSocketURL()")

	// initialize current stage
	$(function() {	
		var sheets = []

		@sheets.map { sheet => 
			sheets.push(@Html(sheet.toJson()))
		}

		for(var i = 0; i < sheets.length; i++)  {	
			var sheet = sheets[i]
			createNewSheet(sheet.id, sheet.x, sheet.y, sheet.width, sheet.height, sheet.title, sheet.content)
		}
		/*
        $('.sheetTextField').redactor({
           autoresize: true,
           air: true,
           airButtons: ['formatting', '|', 'bold', 'italic', 'deleted']
        });	
        */

		glob.zoomLevel = @pref.zoom;
		$('#scaleLayer').css('scale', glob.zoomLevel)
		$('#moveLayer').css('x', @pref.panX)
		$('#moveLayer').css('y', @pref.panY)

		// folder test
		var fv = new FolderView({type: "folder", name:"study", 
			children:[{type:"folder", name:"0201", children:[{type:"item",name:"working with everyone"}]},
			{type:"item",name:"untitled"}]
		});
		fv.appendTo($('#folder-test'))

	})
</script>

}
