@(wallId:Long, sheets:List[Sheet], timestamp:Long, chatId:Long)(implicit loginForm:Form[LoginData], request: play.api.mvc.Request[play.api.mvc.AnyContent]) 

@layouts.stage("Wall ::: Infinite Wall") {

<div id="wall">
	<div id="scaleLayer">
		<div id ="moveLayer">
		</div>
	</div>
</div>

<div id="chat">
	<textarea id="talk"></textarea><button id="sendBtn" class="btn">Talk</button>
	<div id="log">
	</div>
	<div id="chat-userlist">
		User List
		<ul id="users" class="unstyled">
		</ul>
	</div>
</div>

<div id="buttonbar">
	<button id="createBtn" class="btn-small" style="z-index:2">Create sheet</button>
</div>
<script type="text/javascript">
	
	// initialize wall socket/events
	var wallSocket = new WallSocket("@routes.Wall.sync(wallId, timestamp).webSocketURL()")
	wallSocket.on('receive', function(detail) {
		if(detail.action == "create")
			createSheet(detail.id, detail.params);
		else if(detail.action == "move")
			moveSheet(detail.params);
		else if(detail.action == "resize")
			resizeSheet(detail.params);
		else if(detail.action == "remove")
			removeSheet(detail.params);
		else if(detail.action == "setText")
			setText(detail.params);
	})

	// initialize chat socket
	var chatSocket = new ChatSocket("@routes.Chat.establish(chatId, 999).webSocketURL()")
	
	// initialize current stage
	$(function() {	
		var sheets = []
		
	@sheets.map { sheet => 
		sheets.push(@Html(sheet.toJson()))
	}

		for(var i = 0; i < sheets.length; i++)  {	
			var sheet = sheets[i]
			
			createNewSheet(sheet.id, sheet.x, sheet.y, sheet.width, sheet.height, sheet.content)
            //$('div#sheet'+sheet.id+'  textarea').redactor({autoresize: true});
		}

	})
</script>
}
