@(wallId:Long)(implicit loginForm:Form[LoginData], request: play.api.mvc.Request[play.api.mvc.AnyContent]) 

@layouts.stage("Wall ::: Infinite Wall") {

<div id="wall">
	<div id="scaleLayer">
		<div id ="moveLayer"> 			
		</div>
	</div>
</div>

<div id="buttonbar">
	<button id="createBtn" class="btn-small" style="z-index:2">Create sheet</button>
</div>

	<script type="text/javascript">

	var timestamp = 999
	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	var chatSocket = new WS("@routes.Wall.sync(wallId, 999).webSocketURL()")

	function send(msg) {
		console.log("send")
		chatSocket.send(JSON.stringify(msg))
	}

	function onReceive(e) {
		var data = JSON.parse(e.data);
		if(data.error) {
			console.log('disconnected: ' + data.error)
			chatSocket.close();
			return;
		}
		console.log(data)
		if(data.kind == "action" && timestamp < data.timestamp)  {
				var detail = JSON.parse(data.detail)
				if(detail.action == "create")
					createSheet(detail.id, detail.params);
				else if(detail.action == "move")
					moveSheet(detail.params);
				else if(detail.action == "resize")
					resizeSheet(detail.params);
				else if(detail.action == "remove")
					removeSheet(detail.params);

				timestamp = data.timestamp;
			
		}
		$("#log").prepend("<p>" + "<span>" + data.username + "</span>" + "<span> " + data.message + "</span>" + "</p>")
	
	}

	function onError(e) {
		console.log(e);
	}

	chatSocket.onmessage = onReceive
	chatSocket.onerror = onError
	chatSocket.onclose = onError

	
	</script>

}
