@(user: securesocial.core.Identity)(implicit request: RequestHeader, lang: Lang)
@import securesocial.core.IdentityProvider

@layouts.main("SecureSocial - Sample Protected Page") {
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Account</div>
			<div class="panel-body">
				<ul>
					<li>User Id: @user.identityId.userId</li>
					<li>Fist name: @user.firstName</li>
					<li>Last name: @user.lastName</li>
					<li>Full name: @user.fullName</li>
					<li>Logged in from: @user.identityId.providerId</li>
					<li>Email: @user.email.map { email => @email }.getOrElse("Not Available")</li>
					<li>Authentication method: @user.authMethod</li>
				</ul>

				@user.oAuth1Info.map { info =>
				<h2>OAuth1 Info</h2>

				<ul>
					<li>Token: @info.token</li>
					<li>Secret: @info.secret</li>
				</ul>
				}

				@user.oAuth2Info.map { info =>
				<h2>OAuth2 Info</h2>

				<ul>
					<li>Access Token: @info.accessToken</li>
					@info.tokenType.map { t => <li>Token Type: @t</li> }
					@info.expiresIn.map { exp => <li>Expires in: @exp seconds</li>}
					@info.refreshToken.map { rt => <li>Refresh Token: @rt</li>}
				</ul>
				}
				<hr>
				@user.passwordInfo.map { info =>
				<a class="btn btn-default" href="@securesocial.core.providers.utils.RoutesHelper.changePasswordPage.absoluteURL(IdentityProvider.sslEnabled)">Change Password</a>
				}
				<a class="btn btn-default" href="@routes.Account.edit">Edit Account</a>
				<a class="btn btn-default" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
			</div>
		</div>
	</div>
</div>
}
