@(accountForm:Form[AccountData])(implicit loginForm:Form[LoginData], request:play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import helpers.infiniteWall._

@layouts.default("Infinite Wall") {
    @**
    <script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload-fp.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload-ui.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.fileupload.js")" type="text/javascript"></script>
    <script>
    $(function () {
    $('#fileupload').fileupload({
    dataType: 'json',
    done: function (e, data) {
    $.each(data.result, function (index, file) {
    $('<p/>').text(file.name).appendTo(document.body);
});
    }
    });
    });
</script>
    **@


@helper.form(action = routes.Account.update, 'class -> "well form-horizontal", 'enctype -> "multipart/form-data") {

    <legend>My Account</legend>


    <fieldset>

    @inputText(
        accountForm("Nickname"),
        '_label -> "Nickname",
        '_help -> "Your preferred nickname(optional).",
        'placeholder -> "Nickname"
    )

    @*
    <div class="clearfix control-group  " id="ProfilePicture_field">
        <label class="control-label" for="ProfilePicture">Avatar</label>
        <div class="controls">

            <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple placeholder="Upload">

            <span class="help-inline"></span>
            <span class="help-block">Upload a image file for identifying yourself.</span>
        </div>
    </div>
    *@


            @inputFile(
        accountForm("ProfilePicture"),
        '_label -> "Avatar",
        'id -> "fileupload",
        'name-> "ProfilePicture",
        'multiple -> "multiple",
        '_help -> "Upload an image file for identifying yourself.",
        '_error -> accountForm.error("ProfilePicture"),
        'placeholder -> "Upload"
        )


        </fieldset>

        <fieldset>
        <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> Update</button>
        </div>
        </fieldset>

        }



    }
