@(accountForm:Form[AccountData])(implicit loginForm:Form[LoginData], request:play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import helpers.infiniteWall._

@layouts.default("Infinite Wall") {
@**
<script src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload-fp.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload-ui.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.fileupload.js")" type="text/javascript"></script>
<script type="text/javascript">
	$(function () {
		$('#fileupload').fileupload({
			dataType: 'json',
			done: function (e, data) {
				$.each(data.result, function (index, file) {
					$('<p/>').text(file.name).appendTo(document.body);
				});
			}
		});
	});
</script>
**@

@helper.form(action = routes.Account.update, 'class -> "well form-horizontal", 'enctype -> "multipart/form-data") {

<legend>My Account</legend>

<fieldset>

	@inputText(
	accountForm("Nickname"),
	'_label -> "Nickname",
	'_help -> "Your preferred nickname(optional).",
	'placeholder -> "Nickname"
	)

	@inputFile(
	accountForm("ProfilePicture"),
	'_label -> "Avatar",
	'id -> "fileupload",
	'name-> "ProfilePicture",
	'multiple -> "multiple",
	'_help -> "Upload an image file for identifying yourself.",
	'_error -> accountForm.error("ProfilePicture"),
	'placeholder -> "Upload"
	)

</fieldset>

<fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> Update</button>
		<a href="/dropbox/authorize" class="btn">Dropbox Authorization</a>
		<a href="/dropbox/account/info" class="btn">[Test] Dropbox Account Info</a>
		<a href="/dropbox/metadata?path=/" class="btn">[Test] Dropbox Metadata</a>
		<input type="dropbox-chooser" name="selected-file" style="visibility: hidden;"/>
	</div>
</fieldset>

<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="k0fshvccm2la6fh"></script>
<script type="text/javascript">
	var options = {
linkType: "preview",
		  // "preview" (default) is a preview link to the document for sharing,
		  // "directLink" is an expiring link to the contents of the file for downloading
		  // For more information about link types, see Link types
		  success: function(files) {
			  // Required. Called when a user selects an item in the Chooser
			  alert("Here's the file link:" + files[0].link)
		  },
cancel:  function() {
			 // Called when the user closes the dialog
			 // without selecting a file and does not include any parameters.
		 }
	};
	$(document).ready(function() {
Dropbox.choose(options);
});
</script>
}
}
