@(signupForm:Form[SignUpData])(implicit loginForm:Form[LoginData], request:play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import helpers.infiniteWall._

@layouts.default("Infinite Wall") {

	@helper.form(action = routes.Account.createNewUser, 'class -> "well form-horizontal", 'enctype -> "multipart/form-data") {
        
        <legend>New Account</legend>

        <fieldset>
            
            @inputText(
                signupForm("Email"), '_label -> "Email",
                '_help -> "e.g. johndoe@example.com",
                '_error -> signupForm.globalError,
                'placeholder -> "Email"
            )
            
            @inputPassword(
                signupForm("Password.main"), 
                 '_label -> "Password",
                '_help -> "Password must be at least 8 characters. ",
                'placeholder -> "Password"
            )
            
            @inputPassword(
                signupForm("Password.confirm"), 
                '_label -> "Confirm password",
                '_help -> "Please repeat your password.",
                '_error -> signupForm.error("Password"),
                'placeholder -> "Repeat password"
            )
            
        </fieldset>

        <fieldset>
            @inputText(
                signupForm("Nickname"), 
                '_label -> "Nickname",
                '_help -> "Your preferred nickname(optional).",
                'placeholder -> "Nickname"
            )

            <!--
            <div class="clearfix control-group" id="ProfilePicture_field">
                <label class="control-label" for="ProfilePicture">Avatar</label>
                <div class="controls">
                    
                <input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple placeholder="Upload">
             
                    <span class="help-inline"></span>
                    <span class="help-block">Upload a image file for identifying yourself.</span>
                </div>


                </div>

            </div>
            -->

            @inputFile(
                signupForm("ProfilePicture"),
                '_label -> "Avatar",
                'id -> "fileupload",
                'name-> "files[]",
                '_help -> "Upload an image file for identifying yourself.",
                '_error -> signupForm.error("ProfilePicture"),
                'placeholder -> "Upload"
            )

           
        </fieldset>
        
        <fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok-sign icon-white"></i> Sign Up</button>
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        </fieldset>
        
    }
	
		
	
}
